<form class="form new-blog-post">
  <div class="form-group">
    <label for="blog-title">Write New Post</label>
    <input
      type="text"
      class="form-control"
      name="blog-title"
      placeholder="Title"
    />
  </div>
  <div class="form-group">
    <label for="blog-text">Text Body</label>
    <textarea class="form-control" name="blog-text" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-secondary">Post</button>
</form>

<script src="/js/blog.js"></script>